#generate_container {
    padding: 3%;
}

.generate-item {
    width: 25%;
    text-align: center;
    border: 1px solid;
}

.generate-item:nth-child(2) {
    border-left: none;
}

.generate-item:nth-child(3) {
    border-left: none;
}

.generate-item:nth-child(4) {
    border-left: none;
}

.generate-item h3 {
    text-align: center;
    border-bottom: 1px solid;
}

.g_item:first-child {
    margin-top: 5px;
}

.g_item {
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    user-select: none;
    text-align: center;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.g_active {
    background-color: rgb(182, 248, 182);
}

.g_item:hover {
    border-radius: 8px;
    background-color: antiquewhite;
}

.next_float .ant-float-btn-body {
    border-radius: 12px !important;
    background-color: #89f5a9;
}

.next_float .ant-float-btn-body span {
    font-size: 14px;
    font-weight: 600;
}

.next_float .ant-float-btn-body:hover {
    border-radius: 12px !important;
    background-color: #89f5a9;
}


.next_float .ant-float-btn-body .ant-float-btn-content {
    width: 100px !important;
}

.ant-float-btn-content {
    width: 200px !important;
}

.next_float .ant-float-btn-icon {
    display: flex;
    justify-content: center;
}

.next_float .ant-float-btn-icon span {
    color: white;
}


.custom_ant_icon svg {
    fill: black !important;
}

.custom_ant_icon .anticon svg {
    fill: black !important;
}

.faculty_selected {
    border-radius: 10px;
    height: 50px;
    color: white;
    background-color: #89f5a9;
}

.faculty_selected span {
    color: white;
}

.ant-btn-primary span {
    color: white !important;
}